
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@BenNadel" />
	<meta name="twitter:title" content="The Daily Prime" />
	<meta name="twitter:description" content="The Daily Prime is the perfect way to start your day on the right foot - prepare yourself for a day of excellence and compassion." />
	<meta name="twitter:image" content="/assets/the-daily-prime.png" />

	<meta name="keywords" content="self help,inspiration,compassion,self actualization,self improvement,daily reminder,inspiring videos" />
	<meta name="description" content="The Daily Prime is the perfect way to start your day on the right foot - prepare yourself for a day of excellence and compassion." />
	
	<title>
		The Daily Prime - Setting Yourself Up For Excellence And Compassion
	</title>

	<link rel="shortcut icon" type="image/png" href="/assets/favicon.png" />
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Oswald:400,500,600">
	<link rel="stylesheet" type="text/css" href="/assets/main.css" />
</head>
<body>

	<header class="page-header">
		<div class="page-header__title">
			<a href="/" title="The Daily Prime by Ben Nadel">The Daily Prime</a>
		</div>
	</header>

	<section class="page-body">
		{{{ body }}}
	</section>

</body>
</html>
