
<h2>
	About The Daily Prime
</h2>

<p>
	The Daily Prime was created and is maintained by <a href="https://www.bennadel.com">Ben Nadel</a>,
	who forever wants to be a better person, husband, father, friend, and co-worker. If
	you have a video to recommend, please
	<a href="https://twitter.com/BenNadel">contact Ben Nadel on Twitter ( @BenNadel )</a>.
</p>
